# dependencies
node_modules/

.pnp
.pnp.js
.pnp.*
.debug
.trae

# testing
coverage/
data/

# next.js
.next/
out/

# build outputs
build/
dist/
*.tsbuildinfo
.codify/
.evolving-agent/

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
next-env.d.ts
